# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\progs\gyro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
